{
  "openapi": "3.0.3",
  "info": {
    "title": "模型管理API",
    "version": "v2",
    "description": "本API文档提供了对模型管理接口的详细说明，包括新版本和旧版本接口的功能、请求示例、参数说明及响应格式。"
  },
  "servers": [
    {
      "url": "https://aihubmix.com/api"
    }
  ],
  "paths": {
    "/v1/models": {
      "get": {
        "summary": "获取模型信息平台",
        "description": "获取所有可用模型的详细信息，支持多种筛选和排序方式",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "模型类型筛选。支持值：llm、image_generation、video、tts、stt、embedding、rerank",
            "schema": { "type": "string" }
          },
          {
            "name": "modalities",
            "in": "query",
            "description": "输入模态筛选。支持值：text、image、audio、video、pdf，支持多模态查询（逗号分隔）",
            "schema": { "type": "string" }
          },
          {
            "name": "model",
            "in": "query",
            "description": "模型名称模糊搜索（支持部分匹配）",
            "schema": { "type": "string" }
          },
          {
            "name": "features",
            "in": "query",
            "description": "功能特性筛选。支持值：thinking,tools,function_calling,web,deepsearch,long_context,structured_outputs（逗号分隔）",
            "schema": { "type": "string" }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "排序字段。支持值：model_ratio, context_length, coding, order",
            "schema": { "type": "string" }
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "排序方向。支持值：asc, desc",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "成功返回模型信息列表",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "",
                  "data": [
                    {
                      "model_id": "gpt-5",
                      "desc": "GPT-5 is OpenAI flagship model for coding, reasoning, and agentic tasks across domains.",
                      "types": "llm",
                      "features": "thinking,tools,function_calling,structured_outputs",
                      "input_modalities": "text,image",
                      "max_output": 0,
                      "context_length": 0,
                      "pricing": { "input": 1.25, "output": 10, "cache_read": 0.125 }
                    }
                  ]
                }
              }
            }
          },
          "400": { "description": "请求参数错误" },
          "500": { "description": "服务器内部错误" }
        }
      }
    },
    "/v1/models/{model}": {
      "get": {
        "summary": "获取单个模型信息",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "模型ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "成功返回模型信息",
            "content": {
              "application/json": {
                "example": {
                  "id": "gpt-5",
                  "object": "model",
                  "created": 1699500000,
                  "owned_by": "OpenAI",
                  "permission": [
                    {
                      "id": "perm-123",
                      "object": "model_permission",
                      "allow_create_engine": true,
                      "allow_sampling": true,
                      "allow_logprobs": true,
                      "allow_search_indices": false,
                      "allow_view": true,
                      "allow_fine_tuning": false,
                      "organization": "*",
                      "group": null,
                      "is_blocking": false
                    }
                  ],
                  "root": "gpt-5",
                  "parent": null
                }
              }
            }
          },
          "400": { "description": "请求参数错误" },
          "500": { "description": "服务器内部错误" }
        }
      }
    }
  }
}
